{
    "extends": [
      "google",
      "prettier",
      "eslint:recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6
    },
    "plugins": [
      "babel",
      "prettier"
    ],
    "env": {
      "browser": true,     // browser global variables.
      "node": true,        // Node.js global variables and Node.js-specific rules.
      "es6": true,         // for ES6
      "amd": false         // defines require() and define() as global variables as per the amd spec.
    },
    "rules": {
      "no-console": "off",
      "no-restricted-syntax": [
          "error",
          {
              "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
              "message": "Unexpected property on console object was called"
          }
      ]
    },
    "globals": {
      // e.g. "angular": true
    }
}